body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/water.jpg') repeat;
    animation: waterMovement 20s linear infinite;
}

@keyframes waterMovement {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 3000px 0;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    padding: 20px;
    margin: 0;
    width: 90%;
    max-width: 1400px;
    justify-items: center;
    align-items: center;
}

.gallery__item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 350px;
    height: 220px;
}

.gallery__item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
